doctype html
html
  head
    title Blog
  body
    ul.nav-bar
      if currentUser.isGuest()
        li
          a.sign-in-link(href=`${url('users.new')}`) Sign in
        li
          a.sign-up-link(href=`${url('session.new')}`) Sign up
      else
        form.form-sign-out(action='/session?_method=DELETE' method='post')
          input.button(type='submit')
      block content
