extends ../layouts/app.pug

block content
  -const par = form ? form : error;
  .content
    a(href=`${url('root')}`)
    .container
      h3 Edit blog post
      form.edition(method='post' action=`${url('posts.id', { id: par.post_id })}?_method=PATCH`)
        include ../includes/form
