extends ../layouts/app.pug

block content
  div
    a(href=`${url('root')}`) Main page
  if posts.length > 0
    table.posts-table
      tr
        th Title
        th Action
      for post in posts
        tr
          td
            a(href=`${url('posts.id', { id: post.id })}`)=post.title
          td
            a(href=`${url('posts.id.edit', { id: post.id })}`)  Edit
            form.delete-post(method='post' action=`${url('posts.id', { id: post.id })}?_method=DELETE`)
              input.button(type='submit' value='Delete')
  else
    p Some content
