extends ../layouts/app.pug

block content
  div
    a(href=`${url('root')}`) Main page
  if posts.length > 0
    table.table
      tr
        th Title
      for post in posts
        tr
          td
            a(href=`${url('posts')}/${post.id}`)= post.title
  else
    p Some content
