extends ../layouts/app.pug

block content
  div
  if posts.length > 0
    table.posts-table
      tr
        th №
        th Title
        th Author
      -let num = 1;
      for post in posts
        tr
        -const { post_id, title, user } = post.get({ plain: true });
          td=num++
          td
            a(href=`${url('posts.id', { id: post_id })}`)=title
          td=user
  else
    p Some content
