extends ../layouts/app.pug

block content
  -const par = form ? form : error;
  .content
    a(href=`${url('root')}`)
    .container
      h3 New blog post
      form.form(method='post', action=`${url('posts')}`)
        include ../includes/form
