extends ../layouts/app.pug

block content
  -const par = form ? form : error;
  .content
    a(href=`${url('root')}`)
    .container
      h3 New blog post
      form.form(method='post', action=`${url('posts')}`)
        label(for='title') Title
        input#title(type='text' name='title' placeholder='enter title' value=par.title)
        label(for='message') Message
        textarea#message(type='text' name='message' placeholder='enter message'
         rows=20 cols=50)=par.body
        input.button(type='submit', value='Create')
